<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
    <h1>if else if statement</h1>
            
        {% if a > b %}
            {% if a > c %}
                <h3> {{ a }}</h3>
                <h3> a is greater</h3>
            {% else %}
                <h3>{{ c }}</h3>
                <h3> c is greater</h3>
            {% endif %}

        {% else %}
            {% if b > c %}
                <h3> {{ b }}</h3>
                <h3> b is greater</h3>
    
            {% else %}
                <h3>{{ c }}</h3>
                <h3> c is greater</h3>
            {% endif %}
        {% endif %}
    
    </center>
</html>